/* fonts */

@font-face {
  font-family: "Lato";
  src:
    local("Lato Regular"),
    local("Lato-Regular"),
    url("/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato Bold"),
    local("Lato-Bold"),
    url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato Italic"),
    local("Lato-Italic"),
    url("/fonts/Lato-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato Bold Italic"),
    local("Lato-BoldItalic"),
    url("/fonts/Lato-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lete Sans Math";
  src:
    local("Lete Sans Math"),
    local("LeteSansMath"),
    url("/fonts/LeteSansMath.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lete Sans Math";
  src:
    local("Lete Sans Math Bold"),
    local("LeteSansMath-Bold"),
    url("/fonts/LeteSansMath-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src:
    local("Merriweather"),
    local("Merriweather Regular"),
    url("/fonts/Merriweather-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Merriweather";
  src:
    local("Merriweather Italic"),
    url("/fonts/Merriweather-Italic-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: italic;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "IosevkaC";
  src: url("/fonts/IosevkaCustom-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IosevkaC";
  src: url("/fonts/IosevkaCustom-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
